<% provide(:title, "Periodic Table") %>

<table id="periodic-table">
  <%= render 'group-headings' %>
  <%= render 'period-1' %>
  <%= render 'period-2' %>
  <%= render 'period-3' %>
  <%= render 'period-4' %>
  <%= render 'period-5' %>
  <%= render 'period-6' %>
  <%= render 'period-7' %>
  <tr></tr>
  <%= render 'lanthanides' %>
  <%= render 'actinides' %>
</table>

<%= render 'categories' %>
