<tr>
  <td colspan="3"></td>
  <td class="element group-3 period-7 last-element metal actinide d-block">
    <%= link_to 'Ac', element_path('Ac') %>
  </td>
  <td class="element group-3 period-7 last-element metal actinide f-block">
    <%= link_to 'Th', element_path('Th') %>
  </td>
  <td class="element group-3 period-7 last-element metal actinide f-block">
    <%= link_to 'Pa', element_path('Pa') %>
  </td>
  <td class="element group-3 period-7 last-element metal actinide f-block">
    <%= link_to 'U', element_path('U') %>
  </td>
  <td class="element group-3 period-7 last-element metal actinide f-block">
    <%= link_to 'Np', element_path('Np') %>
  </td>
  <td class="element group-3 period-7 last-element metal actinide f-block">
    <%= link_to 'Pu', element_path('Pu') %>
  </td>
  <td class="element group-3 period-7 last-element metal actinide f-block">
    <%= link_to 'Am', element_path('Am') %>
  </td>
  <td class="element group-3 period-7 last-element metal actinide f-block">
    <%= link_to 'Cm', element_path('Cm') %>
  </td>
  <td class="element group-3 period-7 last-element metal actinide f-block">
    <%= link_to 'Bk', element_path('Bk') %>
  </td>
  <td class="element group-3 period-7 last-element metal actinide f-block">
    <%= link_to 'Cf', element_path('Cf') %>
  </td>
  <td class="element group-3 period-7 last-element metal actinide f-block">
    <%= link_to 'Es', element_path('Es') %>
  </td>
  <td class="element group-3 period-7 last-element metal actinide f-block">
    <%= link_to 'Fm', element_path('Fm') %>
  </td>
  <td class="element group-3 period-7 last-element metal actinide f-block">
    <%= link_to 'Md', element_path('Md') %>
  </td>
  <td class="element group-3 period-7 last-element metal actinide f-block">
    <%= link_to 'No', element_path('No') %>
  </td>
  <td class="element group-3 period-7 last-element metal actinide f-block">
    <%= link_to 'Lr', element_path('Lr') %>
  </td>
</tr>
