<tr>
  <td colspan="3"></td>
  <td class="element group-3 period-6 metal lanthanide d-block">
    <%= link_to 'La', element_path('La') %>
  </td>
  <td class="element group-3 period-6 metal lanthanide f-block">
    <%= link_to 'Ce', element_path('Ce') %>
  </td>
  <td class="element group-3 period-6 metal lanthanide f-block">
    <%= link_to 'Pr', element_path('Pr') %>
  </td>
  <td class="element group-3 period-6 metal lanthanide f-block">
    <%= link_to 'Nd', element_path('Nd') %>
  </td>
  <td class="element group-3 period-6 metal lanthanide f-block">
    <%= link_to 'Pm', element_path('Pm') %>
  </td>
  <td class="element group-3 period-6 metal lanthanide f-block">
    <%= link_to 'Sm', element_path('Sm') %>
  </td>
  <td class="element group-3 period-6 metal lanthanide f-block">
    <%= link_to 'Eu', element_path('Eu') %>
  </td>
  <td class="element group-3 period-6 metal lanthanide f-block">
    <%= link_to 'Gd', element_path('Gd') %>
  </td>
  <td class="element group-3 period-6 metal lanthanide f-block">
    <%= link_to 'Tb', element_path('Tb') %>
  </td>
  <td class="element group-3 period-6 metal lanthanide f-block">
    <%= link_to 'Dy', element_path('Dy') %>
  </td>
  <td class="element group-3 period-6 metal lanthanide f-block">
    <%= link_to 'Ho', element_path('Ho') %>
  </td>
  <td class="element group-3 period-6 metal lanthanide f-block">
    <%= link_to 'Er', element_path('Er') %>
  </td>
  <td class="element group-3 period-6 metal lanthanide f-block">
    <%= link_to 'Tm', element_path('Tm') %>
  </td>
  <td class="element group-3 period-6 metal lanthanide f-block">
    <%= link_to 'Yb', element_path('Yb') %>
  </td>
  <td class="element group-3 period-6 metal lanthanide f-block">
    <%= link_to 'Lu', element_path('Lu') %>
  </td>
</tr>
