<tr>
  <td class="period-heading selector">
    <input type="radio" id="period-2" name="element-selector">
    <label for="period-2">2</label>
  </td>
  <td class="element group-1 period-2 metal alkali-metal s-block">
    <%= link_to 'Li', element_path('Li') %>
  </td>
  <td class="element group-2 period-2 metal alkaline-metal s-block">
    <%= link_to 'Be', element_path('Be') %>
  </td>
  <td class="element group-13 period-2 metalloid p-block">
    <%= link_to 'B', element_path('B') %>
  </td>
  <td class="element group-14 period-2 nonmetal other-nonmetal p-block">
    <%= link_to 'C', element_path('C') %>
  </td>
  <td class="element group-15 period-2 nonmetal other-nonmetal p-block">
    <%= link_to 'N', element_path('N') %>
  </td>
  <td class="element group-16 period-2 nonmetal other-nonmetal p-block">
    <%= link_to 'O', element_path('O') %>
  </td>
  <td class="element group-17 period-2 nonmetal halogen p-block">
    <%= link_to 'F', element_path('F') %>
  </td>
  <td class="element group-18 period-2 nonmetal noble-gas p-block">
    <%= link_to 'Ne', element_path('Ne') %>
  </td>
</tr>
