<tr>
  <td class="period-heading selector">
    <input type="radio" id="period-7" name="element-selector">
    <label for="period-7">7</label>
  </td>
  <td class="element group-1 period-7 last-element metal alkali-metal s-block">
    <%= link_to 'Fr', element_path('Fr') %>
  </td>
  <td class="element group-2 period-7 last-element metal alkaline-metal s-block">
    <%= link_to 'Ra', element_path('Ra') %>
  </td>
  <td class="element-ext">89-103</td>
  <td class="element group-4 period-7 last-element metal transition-metal d-block">
    <%= link_to 'Rf', element_path('Rf') %>
  </td>
  <td class="element group-5 period-7 last-element metal transition-metal d-block">
    <%= link_to 'Db', element_path('Db') %>
  </td>
  <td class="element group-6 period-7 last-element metal transition-metal d-block">
    <%= link_to 'Sg', element_path('Sg') %>
  </td>
  <td class="element group-7 period-7 last-element metal transition-metal d-block">
    <%= link_to 'Bh', element_path('Bh') %>
  </td>
  <td class="element group-8 period-7 last-element metal transition-metal d-block">
    <%= link_to 'Hs', element_path('Hs') %>
  </td>
  <td class="element group-9 period-7 last-element metal transition-metal d-block">
    <%= link_to 'Mt', element_path('Mt') %>
  </td>
  <td class="element group-10 period-7 last-element metal transition-metal d-block">
    <%= link_to 'Ds', element_path('Ds') %>
  </td>
  <td class="element group-11 period-7 last-element metal transition-metal d-block">
    <%= link_to 'Rg', element_path('Rg') %>
  </td>
  <td class="element group-12 period-7 last-element metal transition-metal d-block">
    <%= link_to 'Cn', element_path('Cn') %>
  </td>
  <td class="element group-13 period-7 last-element post-transition-metal p-block">
    <%= link_to 'Nh', element_path('Nh') %>
  </td>
  <td class="element group-14 period-7 last-element post-transition-metal p-block">
    <%= link_to 'Fl', element_path('Fl') %>
  </td>
  <td class="element group-15 period-7 last-element post-transition-metal p-block">
    <%= link_to 'Mc', element_path('Mc') %>
  </td>
  <td class="element group-16 period-7 last-element post-transition-metal p-block">
    <%= link_to 'Lv', element_path('Lv') %>
  </td>
  <td class="element group-17 period-7 last-element halogen p-block">
    <%= link_to 'Ts', element_path('Ts') %>
  </td>
  <td class="element group-18 period-7 last-element noble-gas p-block">
    <%= link_to 'Og', element_path('Og') %>
  </td>
</tr>
