<tr>
  <td class="period-heading selector">
    <input type="radio" id="period-3" name="element-selector">
    <label for="period-3">3</label>
  </td>
  <td class="element group-1 period-3 metal alkali-metal s-block">
    <%= link_to 'Na', element_path('Na') %>
  </td>
  <td class="element group-2 period-3 metal alkaline-metal s-block">
    <%= link_to 'Mg', element_path('Mg') %>
  </td>
  <td class="element group-13 period-3 metal post-transition-metal stairstep-element p-block">
    <%= link_to 'Al', element_path('Al') %>
  </td>
  <td class="element group-14 period-3 metalloid p-block">
    <%= link_to 'Si', element_path('Si') %>
  </td>
  <td class="element group-15 period-3 nonmetal other-nonmetal p-block">
    <%= link_to 'P', element_path('P') %>
  </td>
  <td class="element group-16 period-3 nonmetal other-nonmetal p-block">
    <%= link_to 'S', element_path('S') %>
  </td>
  <td class="element group-17 period-3 nonmetal halogen p-block">
    <%= link_to 'Cl', element_path('Cl') %>
  </td>
  <td class="element group-18 period-3 nonmetal noble-gas p-block">
    <%= link_to 'Ar', element_path('Ar') %>
  </td>
</tr>
