<tr>
  <td class="period-heading selector">
    <input type="radio" id="period-4" name="element-selector">
    <label for="period-4">4</label>
  </td>
  <td class="element group-1 period-4 metal alkali-metal s-block">
    <%= link_to 'K', element_path('K') %>
  </td>
  <td class="element group-2 period-4 metal alkaline-metal s-block">
    <%= link_to 'Ca', element_path('Ca') %>
  </td>
  <td class="element group-3 period-4 metal transition-metal d-block">
    <%= link_to 'Sc', element_path('Sc') %>
  </td>
  <td class="element group-4 period-4 metal transition-metal d-block">
    <%= link_to 'Ti', element_path('Ti') %>
  </td>
  <td class="element group-5 period-4 metal transition-metal d-block">
    <%= link_to 'V', element_path('V') %>
  </td>
  <td class="element group-6 period-4 metal transition-metal d-block">
    <%= link_to 'Cr', element_path('Cr') %>
  </td>
  <td class="element group-7 period-4 metal transition-metal d-block">
    <%= link_to 'Mn', element_path('Mn') %>
  </td>
  <td class="element group-8 period-4 metal transition-metal d-block">
    <%= link_to 'Fe', element_path('Fe') %>
  </td>
  <td class="element group-9 period-4 metal transition-metal d-block">
    <%= link_to 'Co', element_path('Co') %>
  </td>
  <td class="element group-10 period-4 metal transition-metal d-block">
    <%= link_to 'Ni', element_path('Ni') %>
  </td>
  <td class="element group-11 period-4 metal transition-metal d-block">
    <%= link_to 'Cu', element_path('Cu') %>
  </td>
  <td class="element group-12 period-4 metal transition-metal d-block">
    <%= link_to 'Zn', element_path('Zn') %>
  </td>
  <td class="element group-13 period-4 metal post-transition-metal p-block">
    <%= link_to 'Ga', element_path('Ga') %>
  </td>
  <td class="element group-14 period-4 metalloid stairstep-element p-block">
    <%= link_to 'Ge', element_path('Ge') %>
  </td>
  <td class="element group-15 period-4 metalloid p-block">
    <%= link_to 'As', element_path('As') %>
  </td>
  <td class="element group-16 period-4 nonmetal other-nonmetal p-block">
    <%= link_to 'Se', element_path('Se') %>
  </td>
  <td class="element group-17 period-4 nonmetal halogen p-block">
    <%= link_to 'Br', element_path('Br') %>
  </td>
  <td class="element group-18 period-4 nonmetal noble-gas p-block">
    <%= link_to 'Kr', element_path('Kr') %>
  </td>
</tr>
